* {
    /* outline is like border but doesn't add a pixel to element dimensions*/
    outline: 1px solid black;
}

header {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 40%;
    margin-bottom: 10%;
}

/* Name */
h1 {
    font-size: 64px;
}

/* Description text*/
h4 {
    font-size: 28px;
    margin: auto;
}

/* Search Bar*/
input[type=text] {
    padding: 20px 60px;
}

/* Search Button*/
input[type=submit] {
    padding: 20px 10px;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* .container div - all div.cards populate inside*/
.container {
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
}

/* content div */
/* display: none  to replicate content populating div.container */

/*Comment out when testing api call*/
.card, .results {
    display: none;
}

.card {
    /* display: none; */
    /* Fill 90% of .container width */
    flex-basis: 90%;
    /* Centering */
    /* Note flexbox doesn't collapse margins, space between each card is 10% + 10% */
    margin: 10% 5%;
    /* Center text in .card */
    text-align: center;
    
}