* {
    /* outline is like border but doesn't add a pixel to element dimensions*/
    outline: 1px solid black;
}

header {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
}

/* Name */
h1 {
    font-size: 64px;
}

/* Description text*/
h4 {
    font-size: 28px;
    margin: auto;
}

h5 {
    font-size: 32px;
}

/* Search Bar*/
input[type=text] {
    padding: 20px 60px;
}

/* Search Button*/
input[type=submit] {
    padding: 20px 10px;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* .container div - all div.cards populate inside*/
.container {
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    /* Centering */
    justify-content: space-around;
    align-items: center;
}

/* content div */
/* display: none  to replicate content populating div.container */

/*Comment out when testing api call*/
.card, .results {
    display: none;
}

.card {
    /* display: none; */
    /* Fill 90% of .container width */
    flex-basis: 90%;

    padding: 0 2%;

    margin-top: 20px;

    /* Center text in .card */
    text-align: center;
    
}

.nav-bar {
    /* background-color goes here */
    background-color: #fff;



    /* Keep nav at top of page */
    /* Throws off margins of header where they no longer push contenet down and just overlap the navbar */
    /* position: fixed;
    top: 0;
    width: 100%; */
}



.nav-bar ul {
    /* Set width to mirror header, keeps content lined up with header content */
    width: 90%;
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    /* padding: 5%; */
}

.nav-bar li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;

}

.nav-bar li a {
    /*inline block keeps padding inside nav but also on same line*/
    display: inline-block;
    /* padding makes whole area clickable*/
    padding: 10px;
    /* margin: 10px; */
    text-decoration: none;
}

@media (min-width: 800px) {
    body {
        background-color: red;
    }
    /* two-columns */
    .card {
        flex-basis: 40%;
    }

    header {
        margin-top: 15%;
    }
}

@media (min-width: 1300px) {
    body {
        background-color: blue;
    }
    /* three columns */
    .card {
        flex-basis: 25%;
    }

    header {
        margin-top: 10%;
    }
}